[Unit]
Description=SkyPro parser
After=network.target

[Service]
WorkingDirectory=/home/sky_parser
ExecStart=sudo docker-compose up -d --build
Restart=always

[Install]
WantedBy=multi-user.target
